Use this notebook to get a csv with song name, song id, artist name, artist id for every song for every artist that you want. Then use the other notebook to get annotation info + lyrics. sorry this could have probably been more streamlined whoops

In [1]:
client_id = "JxFUHlJQmqzccAW5XmwkaeDuL3P1S3h5XNRJ4a2U4guuov04XdbI8k2FTF1mvQ4x"
client_secret = "D0OsAzJISwVnlIk-wE6DWgSvkPzqEyjdRJgiMRgxEjcc2r0di0_I9ALnZbNmwxhzkSZv8YoF4WwZztKNlJU1-Q"
client_access_token = "CNJOsm6ICvn4yaTomXohdsi0iJvEPoCnMnrVU5Y15-nbQ62lDvG2htyKu-GIv8Q_"

In [2]:
!pip install requests

Requirement already satisfied: requests in /srv/conda/lib/python3.9/site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /srv/conda/lib/python3.9/site-packages (from requests) (3.1.0)
Requirement already satisfied: certifi>=2017.4.17 in /srv/conda/lib/python3.9/site-packages (from requests) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in /srv/conda/lib/python3.9/site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /srv/conda/lib/python3.9/site-packages (from requests) (1.26.15)

In [3]:
import pandas as pd
import os.path
import csv
import time
import requests
from IPython.display import clear_output, display, HTML, Javascript

In [14]:
top_artists_df = pd.read_csv("top_96_artists.csv")

In [15]:
df

    Unnamed: 0                artist       id
0            0            Ed Sheeran    12418
1            1       Camilla Cabello   609667
2            2           Post Malone   326362
3            3                Eminem       45
4            4               Maroon5    13539
..         ...                   ...      ...
91          91     Justin Timberlake      334
92          92            Jonas Blue   632979
93          93  Florida Georgia Line  3360548
94          94        Britney Spears     1052
95          95            Little Mix  2774277

[96 rows x 3 columns]

In [16]:
def make_sound():
    display(Javascript("""
  var msg = new SpeechSynthesisUtterance();
  msg.text = "Process completed!";
  window.speechSynthesis.speak(msg);
"""))

## Get artist id (if you choose new artists)

In [17]:
def get_artist_id(artist):
    url = "https://api.genius.com/search?q=" + artist
    response = requests.get(url, headers={'Authorization': 'Bearer CNJOsm6ICvn4yaTomXohdsi0iJvEPoCnMnrVU5Y15-nbQ62lDvG2htyKu-GIv8Q_'})
    response_json = response.json()
    return response_json["response"]["hits"][0]["result"]["primary_artist"]["id"]

In [18]:
df["id"] = -1

In [19]:
df["id"] = df.apply(lambda row : get_artist_id(row["artist"]), axis = 1)
make_sound()

In [20]:
df

    Unnamed: 0                artist       id
0            0            Ed Sheeran    12418
1            1       Camilla Cabello  1416685
2            2           Post Malone   326362
3            3                Eminem       45
4            4               Maroon5    13539
..         ...                   ...      ...
91          91     Justin Timberlake      334
92          92            Jonas Blue   632979
93          93  Florida Georgia Line  3360548
94          94        Britney Spears     1052
95          95            Little Mix  2774277

[96 rows x 3 columns]

In [24]:
df.loc[1, "id"] = 609667 # didn't have right id for Camilla Cabello

In [50]:
df.to_csv("top_96_artists.csv")

# Get top songs for all artists

In [6]:
songs_df = pd.DataFrame(columns=["artist","artist_id","song","song_id","song_lyrics"])
songs_df

Empty DataFrame
Columns: [artist, artist_id, song, song_id, song_lyrics]
Index: []

In [7]:
def get_songs(artist_id):
    song_titles = []
    song_ids = []
    page_number = 1
    while page_number is not None:
        url = "https://api.genius.com/" + "artists/" + str(artist_id) + "/songs?page=" + str(page_number)
        response = requests.get(url, headers={'Authorization': 'Bearer CNJOsm6ICvn4yaTomXohdsi0iJvEPoCnMnrVU5Y15-nbQ62lDvG2htyKu-GIv8Q_'})
        response_json = response.json()
        song_titles.extend([x["title"] for x in response_json["response"]["songs"] if x["annotation_count"] > 0])
        song_ids.extend([x["id"] for x in response_json["response"]["songs"] if x["annotation_count"] > 0])
        page_number = response_json["response"]["next_page"]
    return song_titles, song_ids

In [11]:
#artist	artist_id	song	song_id	song_lyrics

for index, row in df.iterrows():
    print(index)
    song_titles, song_ids = get_songs(row["id"])
    new_df = pd.DataFrame({"artist":row["artist"], "artist_id":row["id"], "song_lyrics": -1, "song":song_titles, "song_id":song_ids})
    songs_df = pd.concat([songs_df, new_df])
make_sound()

0

In [12]:
songs_df = songs_df.drop_duplicates(subset=['song_id'])
songs_df

,artist,artist_id,song,song_id,song_lyrics
0,Ed Sheeran,12418,"10,000 Tears",6382271,-1
1,Ed Sheeran,12418,1000 Nights,4575103,-1
2,Ed Sheeran,12418,18,572269,-1
3,Ed Sheeran,12418,2002,3541694,-1
4,Ed Sheeran,12418,2002,4144724,-1
...,...,...,...,...,...
505,Ed Sheeran,12418,"You Need Me, I Don’t Need You (True Tiger Remix)",72037,-1
506,Ed Sheeran,12418,You Need to Cut Your Hair,102715,-1
507,Ed Sheeran,12418,Young Guns,52193,-1
508,Ed Sheeran,12418,Your Song,3085500,-1
509,Ed Sheeran,12418,You Were Never Mine (Arabic),5995581,-1

In [91]:
# change csv name!!
songs_df.to_csv("top35189songs.csv")