In [2]:
import pandas as pd
import numpy as np
from datasets import load_dataset

/data/evan/miniconda3/envs/rlaif/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [3]:
lyric_data = load_dataset("cs182project/182-final-project")
lyric_data

DatasetDict({
    train: Dataset({
        features: ['id', 'conversations'],
        num_rows: 12933
    })
    test: Dataset({
        features: ['id', 'conversations'],
        num_rows: 681
    })
})

In [4]:
test = lyric_data['test']

In [5]:
test_df = pd.DataFrame(test)
test_df

      id                                      conversations
0      0  [{'from': 'human', 'value': 'Write me a song c...
1      1  [{'from': 'human', 'value': 'Write me a song c...
2      2  [{'from': 'human', 'value': 'Write me a song c...
3      3  [{'from': 'human', 'value': 'Write me a song c...
4      4  [{'from': 'human', 'value': 'Write me a song c...
..   ...                                                ...
676  676  [{'from': 'human', 'value': 'Write me a song c...
677  677  [{'from': 'human', 'value': 'Write me a song c...
678  678  [{'from': 'human', 'value': 'Write me a song c...
679  679  [{'from': 'human', 'value': 'Write me a song c...
680  680  [{'from': 'human', 'value': 'Write me a song c...

[681 rows x 2 columns]

In [6]:
def extact_prompt(s):
    return [s[0]['value']]

In [7]:
test_df['turns'] = test_df['conversations'].map(extact_prompt)
test_df

,id,conversations,turns
0,0,"[{'from': 'human', 'value': 'Write me a song c...",[Write me a song called HETHEN with the follow...
1,1,"[{'from': 'human', 'value': 'Write me a song c...",[Write me a song called Why Would I Stop? with...
2,2,"[{'from': 'human', 'value': 'Write me a song c...",[Write me a song called Still Got That Rock wi...
3,3,"[{'from': 'human', 'value': 'Write me a song c...",[Write me a song called Little Things with the...
4,4,"[{'from': 'human', 'value': 'Write me a song c...",[Write me a song called Light Up (Cover) with ...
...,...,...,...
676,676,"[{'from': 'human', 'value': 'Write me a song c...",[Write me a song called Trumpets with the foll...
677,677,"[{'from': 'human', 'value': 'Write me a song c...",[Write me a song called Love on the Brain (Cov...
678,678,"[{'from': 'human', 'value': 'Write me a song c...",[Write me a song called In Her Lane with the f...
679,679,"[{'from': 'human', 'value': 'Write me a song c...",[Write me a song called Fight Night with the f...
680,680,"[{'from': 'human', 'value': 'Write me a song c...",[Write me a song called Blood On the Leaves wi...

In [8]:
test_df['category'] = ['music'] * len(test_df)
test_df

,id,conversations,turns,category
0,0,"[{'from': 'human', 'value': 'Write me a song c...",[Write me a song called HETHEN with the follow...,music
1,1,"[{'from': 'human', 'value': 'Write me a song c...",[Write me a song called Why Would I Stop? with...,music
2,2,"[{'from': 'human', 'value': 'Write me a song c...",[Write me a song called Still Got That Rock wi...,music
3,3,"[{'from': 'human', 'value': 'Write me a song c...",[Write me a song called Little Things with the...,music
4,4,"[{'from': 'human', 'value': 'Write me a song c...",[Write me a song called Light Up (Cover) with ...,music
...,...,...,...,...
676,676,"[{'from': 'human', 'value': 'Write me a song c...",[Write me a song called Trumpets with the foll...,music
677,677,"[{'from': 'human', 'value': 'Write me a song c...",[Write me a song called Love on the Brain (Cov...,music
678,678,"[{'from': 'human', 'value': 'Write me a song c...",[Write me a song called In Her Lane with the f...,music
679,679,"[{'from': 'human', 'value': 'Write me a song c...",[Write me a song called Fight Night with the f...,music
680,680,"[{'from': 'human', 'value': 'Write me a song c...",[Write me a song called Blood On the Leaves wi...,music

In [9]:
test_df.rename({'id': 'question_id'}, axis=1, inplace=True)
test_df

,question_id,conversations,turns,category
0,0,"[{'from': 'human', 'value': 'Write me a song c...",[Write me a song called HETHEN with the follow...,music
1,1,"[{'from': 'human', 'value': 'Write me a song c...",[Write me a song called Why Would I Stop? with...,music
2,2,"[{'from': 'human', 'value': 'Write me a song c...",[Write me a song called Still Got That Rock wi...,music
3,3,"[{'from': 'human', 'value': 'Write me a song c...",[Write me a song called Little Things with the...,music
4,4,"[{'from': 'human', 'value': 'Write me a song c...",[Write me a song called Light Up (Cover) with ...,music
...,...,...,...,...
676,676,"[{'from': 'human', 'value': 'Write me a song c...",[Write me a song called Trumpets with the foll...,music
677,677,"[{'from': 'human', 'value': 'Write me a song c...",[Write me a song called Love on the Brain (Cov...,music
678,678,"[{'from': 'human', 'value': 'Write me a song c...",[Write me a song called In Her Lane with the f...,music
679,679,"[{'from': 'human', 'value': 'Write me a song c...",[Write me a song called Fight Night with the f...,music
680,680,"[{'from': 'human', 'value': 'Write me a song c...",[Write me a song called Blood On the Leaves wi...,music

In [10]:
test_df[['question_id', 'category', 'turns']].to_json('fastchat/llm_judge/data/lyric/question.jsonl', orient='records', lines=True)